<div class="row">
    <div class="col-sm-12">
       
            <div class="panel-heading">
                <i class="fa clip-file-3"></i> Add New Request
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label class="col-sm-2 control-label" for="rqstId">Request Id</label>
                    <div class="col-sm-4">
                        <label class="col-sm-2 control-label" for="param2">{{rqstId}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label class="col-sm-2 control-label" for="runNow">Run
                    </label>
                    <div class="col-sm-4">
                        <button name="runNow" class="form-control" (click)="runRequestNow(rqstId)">Run Now</button>
                    </div>
                </div>
                
            </div>
        
    </div>
</div>